ion-menu-button, ion-title {
  color: darkblue;
}

ion-content {
  .summary {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10vh;

    span {
      padding: 10px;
    }

    .label {
      display: flex;
      flex-direction: column;
    }

    .result {
      display: flex;
      flex-direction: column;
    }
  }

  .total {
    font-weight: bold;
  }

  ion-img {
    margin: 20px;
    width: 80%;
  }
}
