<ion-header>
  <ion-menu-toggle></ion-menu-toggle>
  <ion-toolbar>
    <ion-title>Récapitulatif</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="summary">
    <div class="label">
      <span>Crédit:</span>
      <span>Débit:</span>
      <span class="total">Total:</span>
    </div>
    <div class="result">
      <span>{{ totalCredit }} €</span>
      <span>{{ totalDebit }} €</span>
      <span class="total">{{ total }} € </span>
    </div>
  </div>
  <ion-img src="../assets/images/logo-smile-pay.png"></ion-img>
</ion-content>
