<ion-app>
  <ion-menu side="start" menuId="menu-main" contentId="main">
    <ion-header>
      <ion-toolbar class="toolbar">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/transactions">
            <ion-label>Liste de mes transactions</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/recapitulatif">
            <ion-label>Récaputilatif</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
